

@model Product;

@{
    ViewData["Title"] = Model.ProductName;
}

    <h4 class="text-center display-6">@Model.ProductName</h4>
    <div class="d-flex justify-content-center">
        <img src="@Model.ImageUrl" class="rounded-2" width=350px/>
    </div>
     <p class="lead text-center text-danger">@Model.Price.ToString("c", CultureInfo.GetCultureInfo("en-US"))</p>
     <div class="d-flex justify-content-center">
        <div class="btn-group">
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">
            <i class="fa-solid fa-house"></i>
            Home
        </a>
        <form id=@Model.ProductId asp-page="/Cart" method="post">
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
            <button class="btn btn-outline-secondary" type="submit"> 
             <i class="fa fa-cart-plus"></i>
             Add To Cart
            </button>
        </form>
        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-secondary">
            <i class="fa-solid fa-list"></i>
            Product
        </a>
     </div>
     </div>

