@page "/getintouch"

<div class="container-md text-center border rounded-5 mt-4 shadow">
    <h6 class="display-6 my-3 border-bottom"> Contact  </h6>
    <div class="lead mt-5">
       <i class="fa fa-phone bg-secondary text-white p-3 rounded-5"></i>
       <p class="lead"> ALD 120 BTK Akademi bilgi ve destek hatti</p>
       <i class="fa fa-address-card  bg-secondary text-white p-3 rounded-5"></i>
       <p class="lead"> Maltepe, İstinye Üniversitesi Topkapı Kampüsü, Teyyareci Sami Sk. No.3, 34010 Zeytinburnu/İstanbul</p>
       <i class="fa fa-envelope bg-secondary text-white p-3  rounded-5"></i>
       <p class="lead">İstinyeuni@gov.tr</p>
    </div>
</div>
