<div class="container-fluid" style="background: #ffff">
<div class="container">

<div class="display-4">
        <h6 class="text-center"> Dashboard  </h6>
        <hr>
</div>
<div class="my-3">

        <partial name="_Cards" />
</div>
</div>
</div>

