@model IEnumerable<Category>

<h2 class="display-5 mt-4 text-center">  Categories  </h2>

<div class="container">
  <table >
    <thead>
        <tr>
            <th>Id </th>
            <th>Category Name </th>
            <th>Operations </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
             <tr>
                <td>@category.CategoryId </td>
                <td>@category.CategoryName </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-warning" >
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                        
                    </div>
                 </td>
             </tr>
        }
    </tbody>
  </table>
</div>